@namespace XTMF2.Web.Components.ModelSystemEditor
<div id="model-system-editor">

    <CascadingValue Value="this">
        <Boundary Model="@Model.GlobalBoundary"></Boundary>
    </CascadingValue>

</div>

@code {

}