@namespace XTMF2.Web.Components.ModelSystemEditor
<div width="100%" height="100%" id="model-system-editor">

    <CascadingValue Value="this">
        <Boundary Model="Model.GlobalBoundary"></Boundary>
    </CascadingValue>

</div>

@code {

}