
@namespace XTMF2.Web.Client.Shared
@using Blazored.SessionStorage
@using Microsoft.AspNetCore.Components.Authorization
@using XTMF2.Web.Client.Services.Api
@using XTMF2.Web.Client.Services
@inherits LayoutComponentBase
<div class="wrapper">
    <nav id="main-sidebar">
        <div class="sidebar-logo">
            <a class="navbar-brand" href="#">
                <img src="img/xtmf.png" width="32" height="32" class="d-inline-block align-top" alt="">
                <span class="logo-text">XTMF2</span>
            </a>
        </div>
        <div class="list-group">
             <NavLink class="nav-link nav-item list-group-item list-group-item-action" href="" Match="NavLinkMatch.All">
                <i class="fas fa-columns"></i><span class=" ml-3 nav-link-text">Dashboard</span>
            </NavLink>
            <NavLink class="nav-link nav-item list-group-item list-group-item-action" href="projects" Match="NavLinkMatch.Prefix">
                <i class="fas fa-project-diagram "></i><span class=" ml-3 nav-link-text">Projects</span>
            </NavLink>
            <a href="#" class="list-group-item list-group-item-action">
                <i class="fas fa-server "></i><span class=" ml-3 nav-link-text">Model System Runs</span>
            </a>
            <NavLink class="nav-link nav-item list-group-item list-group-item-action" href="system" Match="NavLinkMatch.Prefix">
                <i class="fas fa-tools"></i><span class=" ml-3 nav-link-text">System</span>
            </NavLink>
        </div>
    </nav>

    <div id="main-content">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

            <button id="sidebar-toggle" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">

                <div class="nav-header">
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-cog"></i><span>Admin</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Action</button>
                            <button class="dropdown-item" type="button">Another action</button>
                            <button class="dropdown-item" type="button">Something else here</button>
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <div class="container-fluid">

            <div class="body-container">

                @Body


            </div>
        </div>
    </div>
</div>

@code {

        [Inject] protected  IJSRuntime JSRuntime { get;set;}

        [Inject] protected AuthenticationService AuthenticationService {get;set;}

        protected override async Task OnInitializedAsync() {
            var result = await AuthenticationService.LoginAsync("local");
        }
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await JSRuntime.InvokeVoidAsync("afterRender");
            }
        }

    }