#opaque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: block;
  background-color: black;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
* html #opaque {
  position: absolute;
}

html {
  font-family: "Nunito Sans";
}

body {
  font-family: "Nunito Sans";
}

.wrapper {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: stretch;
  align-content: stretch;
}

.body-container {
  margin-top: 20px;
}

.nav-header {
  flex-grow: 1;
}

button i {
  margin-left: 5px;
  margin-right: 5px;
}

#main-content {
  width: 100%;
  background-color: #dcdfe2;
}

#main-sidebar {
  background-color: #152535;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  width: 300px;
  align-items: center;
  justify-content: center;
  max-width: 300px;

  a {
    font-size: 1rem;
    color: white;
  }

  .sidebar-logo {
    text-align: center;
    margin: 20px;
    flex-grow: 0;
    font-weight: bold;
  }

  i {
    opacity: 0.2;
  }

  a.active i {
    opacity: 0.8;
  }

  .list-group-item {
    background: transparent;
    margin-top: 0;
  }

  .list-group {
    align-content: center;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .list-group-item {
    border: none;
  }
  .navbar-brand {
    margin: 0px;
    transition: all 0.3s;
  }
}
#main-sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  .nav-link-text {
    display: none;
  }
  .logo-text {
    display: none;
  }
}
