@using XTMF2.Web.Data.Models.Editing
@namespace XTMF2.Web.Components.ModelSystemEditor
@typeparam T
<div data-view-object-id="@Model.Id" data-view-object-type="@Model.GetType()">

    @ChildContent

</div>

@code {
    

}
