@page "/system"
@namespace XTMF2.Web.Pages
@using Microsoft.AspNetCore.Components.Authorization
<BasePage ShowSideNav="false">
<ChildContent>
  <AuthorizeView>
 No see dis
</AuthorizeView>
</ChildContent>
    <Title>XTMF System Information</Title>


</BasePage>

